asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
cycler==0.10.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
lxml==4.2.0
matplotlib==2.1.2
numpy==1.14.1
opencv-python==3.4.0.12
parsel==1.4.0
Pillow==5.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.5.0
pyparsing==2.2.0
PyQt5==5.10.1
pytesseract==0.2.0
python-dateutil==2.6.1
pytz==2018.3
queuelib==1.5.0
requests==2.18.4
Requires==0.0.3
scipy==1.0.0
Scrapy==1.5.0
service-identity==17.0.0
sip==4.19.8
six==1.11.0
tqdm==4.19.8
Twisted==17.9.0
urllib3==1.22
w3lib==1.19.0
zope.interface==4.4.3
